.change-hour-button-static {
    max-width: 20px; 
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
}

.change-hour-button {
    max-width: 20px; 
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
}